$color-blred: #b80c4a;
$color-mustard: #fdbe5e;
$color-crimson: #d20a52;
$color-rr: #fa464a;
$color-r: #eb1d31;
$color-bb: #0d83c1;
$color-gg: #18a084;
$color-xlb: #6efcf1;
$color-lb: #30cced;
$color-gd: #0ab155;
$color-b: #0f7be5;
$salmon: #fc463a;
$ther: #3cc8f1;
// "\\(([^)]+)\\)"

/**
 * #05386B (OTHER BLUE)
 * #FC4445 (SHINY SALMON)
 * #950740 SOME KIND OF FUSCIA
 * #2f7e82 teal
 */
