.container {
  @include container;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.col,
.col-3,
.col-4,
.col-6 {
  position: relative;
  width: 100%;
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

@include break-min($md) {
  .row {
    justify-content: flex-start;

    > [class*='col-'] {
      padding: 0 rem(10);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .col-3,
  .col-4,
  .col-6 {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

@include break-min ($lg) {
  .col-3 {
    max-width: 25%;
    flex: 1 0 25%;
  }

  .col-4 {
    max-width: 33.333333%;
    flex: 1 0 33.333333%;
  }
}
