// TODO: Change class
.nav {
  &--top {
    background-color: $flyout-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
    height: $nav-height-desktop;
    overflow: hidden;
  }

  &__bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $padding-side-desktop;
  }

  &__brand {
    &-link {
      text-transform: uppercase;
      color: lighten($green, 10);

      &:hover {
        color: $green;
      }
    }
  }

  &__menu {
    margin-right: rem(80);
  }

  &__list {
    list-style-type: none;
    text-align: center;

    &-item {
      margin-right: rem(28);
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        overflow: visible;
      }
    }
  }

  &__link {
    display: block;
    color: lighten($green, 10);
    // padding: rem(18) rem(26);
  }
}
