.games-hub {
  position: relative;
  background-color: $warm-white;
  // padding: rem(20) rem(30);
  min-height: 100vh;
  width: 100%;
  z-index: 1;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }
}
