.tictactoe {
  &__game {
    @include flex-children();
  }

  &__board {
    width: 100%;
    max-width: rem(360);
  }

  &__info {
    transition: all 0.2s ease;
  }

  &__status {
    transform: rotate(0);

    &.updating {
      transform: rotate(-360deg);
      transition: all 1s ease;
    }
  }

  &__score {
    &-x,
    &-o {
      transform: scale(1);
      transition: all 0.2s ease-in-out;
    }

    &.updating {
      .tictactoe__score {
        &-x,
        &-o {
          transition: all 0.2s ease-in-out;
          transform: scale(1.1);
          color: $red;
        }
      }
    }
  }

  &__square {
    background-color: $white;
    border: 2px solid $flyout-bg;
    float: left;
    margin-right: -2px;
    margin-top: -2px;
    font-size: rem(30);
    width: rem(80);
    height: rem(80);
    line-height: rem(80);
    font-weight: 700;
    text-align: center;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

@include break-min($md) {
  .tictactoe {
    &__info {
      margin-left: rem(30);
    }
  }
}

/*
.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
*/
